.slider {
  overflow: hidden;
  position: relative;
  width: 100%;
  padding: 40px 0;
  background-color: white; /* или тёмная подложка, если нужно */
}

.slider-track {
  display: flex;
  width: fit-content;
  animation: scroll 30s linear infinite;
  align-items: center;
}

.slideNew {
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 80px;
  margin: 0 20px;
}

.slideNew img {
  max-height: 50px;
  max-width: 100%;
  object-fit: contain;
  /* filter: grayscale(100%); */
  transition: transform 0.3s ease;
}

.slideNew img:hover {
  transform: scale(1.05);
  filter: grayscale(0%);
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@media screen and (max-width: 768px) {
  .slideNew {
    width: 140px;
    height: 60px;
    margin: 0 10px;
  }

  .slideNew img {
    max-height: 40px;
  }
}
