.marquee-container {
    display: flex;
    align-items: center;
    gap: 50px;
  }
  
  /* .slide {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  } */
  
  .slide img {
    width: 100%; /* или другое значение */
    height: 100%;
    /* margin: 0 50px; Равномерные отступы по бокам */
  }
  
  .slider {
      /* padding: 90px; */
        text-align: center;
        padding: 59px 0px;
        width: 100%;
      }
      
      .slide {
        width: 200px;
        margin: 0px 3%;
        margin: 0 50px;
      }
      
      .slide img {
        max-width: 80%;
        width: 245.96px;
        height: 52.84px;
        gap: 0px;
        opacity: 0px;
      }
      @media screen and (max-width: 385px) {
        .slide img {
          width: 145.96px;
          height: 32.84px;
        }
      }
      