.savings-grid {
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    justify-content: center;
    padding: 20px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color:aqua
  }
  .savings-main-block{
    display: flex;
    /* flex-direction: center; */
    justify-content: center;
    margin-top: 4%;
    background-color:pink;
  }
  .savings-item {
    text-align: center;
    width: 30%;
    
  }
  .savings-card{  
    height: auto;
    border-radius: 20px;
    opacity: 1;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.08), 0 0 4px 0 rgba(0, 0, 0, 0.04);  
    padding: 65px 25px;
    margin-top: 2rem;
    z-index: 10;
  }
 .medium{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
  }

.savings-item h2 {
    margin-top: 10px;
  }
  .savings-item.large {
    width: 100%; 
  }
  .savings-grid > .savings-item:nth-child(3),
.savings-grid > .savings-item:nth-child(4),
.savings-grid > .savings-item:nth-child(5) {
  grid-column: span 1; /* Вторая строка состоит из 3 элементов */
}
.savings-title{
  font-size: 20px;
  margin-bottom: 17px;
}
.savings-title-bold{
  font-weight: bold;
}
@media screen and (max-width:843px) {
.savings-grid{
  flex-direction: column;
  align-items:center;
}
.savings-card{
  width: 60%;
}
.savings-main-block{
  background-color:yellow
}
.savings-item-long {
  background-color:blue;
  width: 80%;
}
  
}


@media screen and (max-width:600px) {
  .savings-grid{
    display: block;
  }
  .savings-item{
    width: 100%;
  }
  
}